    <div class="footer">
      <div class="padding-global">
        <div class="main-container new-home">
          <div class="footer_component">
            <div class="footer_links">
              <a href="{{base}}index.html" class="w-inline-block" aria-label="Zipli home">{{> logo logoClass="logo-svg-footer" logoId="footer"}}</a>
              <div class="footer_links-wrapper">
{{footerLinks}}
              </div>
            </div>
            <div class="footer_others">
              <div>
                <div class="footer_social-links">
                  <a href="https://www.linkedin.com/company/ziplizerowaste/" target="_blank" rel="noopener" class="w-inline-block" aria-label="Zipli on LinkedIn"><img loading="lazy" width="32" height="32" src="{{base}}images/Frame-1597880955.svg" alt=""></a>
                </div>
                <div class="text-size-small line-height">‍<br>{{t.footer.copyright}}</div>
              </div><img src="{{base}}images/logos/eu-co-funded.png" loading="lazy" width="300" height="63" sizes="300px" alt="{{t.footer.euAlt}}" srcset="{{base}}images/logos/eu-co-funded-p-500.png 500w, {{base}}images/logos/eu-co-funded.png 712w">
            </div>
          </div>
        </div>
      </div>
    </div>
